Appium-Python-Client==4.0.0
argcomplete==2.0.0
attrs==23.2.0
awscli==2.15.2
awscrt==0.20.5
Babel==2.12.1
beautifulsoup4==4.12.3
blivet==3.8.2
blivet-gui==2.5.0
Brlapi==0.8.5
browserstack-local==1.2.7
browserstack_sdk==1.19.26
certifi==2024.2.2
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
contourpy==1.2.1
cryptography==41.0.7
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
distlib==0.3.8
distro==1.8.0
dnf==4.19.2
docutils==0.19
dukpy==0.3.1
execnet==2.1.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.14.0
fonttools==4.51.0
fros==1.1
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
humanize==3.13.1
identify==2.5.36
idna==3.4
iniconfig==2.0.0
jmespath==1.0.1
kiwisolver==1.4.5
langtable==0.0.65
libcomps==0.1.20
libdnf==0.73.1
lxml==4.9.3
matplotlib==3.8.4
mypy==1.5.1
mypy-extensions==1.0.0
nftables==0.1
nodeenv==1.8.0
numpy==1.24.4
olefile==0.46
outcome==1.3.0.post0
packaging==23.1
percy-appium-app==2.0.5
pexpect==4.8.0
pid==2.2.3
pillow==10.3.0
platformdirs==4.2.1
pluggy==1.5.0
ply==3.11
pre-commit==2.20.0
productmd==1.38
progressbar2==3.53.2
prompt-toolkit==3.0.38
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycups==2.0.4
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.14.0
Pygments==2.15.1
PyGObject==3.46.0
pykickstart==3.48
PyPAC==0.16.4
pyparsing==3.1.2
pyparted==3.13.0
PySocks==1.7.1
pytest==8.2.0
pytest-xdist==3.6.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-meh==0.51
python-utils==3.3.3
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
regex==2024.4.16
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rpm==4.19.1.1
rpmautospec==0.6.3
rpmautospec-core==0.1.4
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
SCons==4.5.2
selenium==4.21.0
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setuptools==67.7.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.6.0
soupsieve==2.5
systemd-python==235
tldextract==5.1.2
toml==0.10.2
tqdm==4.64.1
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==1.26.18
virtualenv==20.26.1
wcwidth==0.2.5
wsproto==1.2.0
